body, html{
	margin: 0;
	padding: 0;
}

.inputContainer {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 6px;
	width: 100%;
	height: auto;
	min-height: 35px;
	border: 0.5px solid #dbdde1;
	flex-wrap: wrap;
}

.inputWrapper {
	display: flex;
	min-width: 20px;
  }

.tag {
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 8px;
	border-radius: 20px;
	border: 0.5px solid #dbdde1;
}

input, button {
	all: unset;
}

input{
	width: auto;
	min-width: 20px;
	width: 100%;
}

button {
	cursor: pointer;
}

.hiddenSpan {
	position: absolute;
	visibility: hidden;
	white-space: pre;
	font-family: inherit;
	font-size: inherit;
  }